target/
*.class
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__bouncycastle_bcmail_jdk14_138.xml
.idea/libraries/Maven__bouncycastle_bcprov_jdk14_138.xml
.idea/libraries/Maven__com_github_cp_profiler_cpprof_java_1_3_0.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_6_1.xml
.idea/libraries/Maven__com_lowagie_itext_2_1_5.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
.idea/libraries/Maven__de_erichseifert_vectorgraphics2d_VectorGraphics2D_0_13.xml
.idea/libraries/Maven__dk_brics_automaton_automaton_1_11_8.xml
.idea/libraries/Maven__io_javalin_javalin_4_6_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__net_sf_trove4j_trove4j_3_0_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_11.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_math_2_1.xml
.idea/libraries/Maven__org_choco_solver_choco_sat_1_0_2.xml
.idea/libraries/Maven__org_choco_solver_choco_solver_4_10_2.xml
.idea/libraries/Maven__org_choco_solver_cutoffseq_1_0_5.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_ajax_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_server_9_4_46_v20220331.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_servlet_9_4_46_v20220331.xml
.idea/libraries/Maven__org_graphstream_gs_algo_2_0.xml
.idea/libraries/Maven__org_graphstream_gs_core_1_3.xml
.idea/libraries/Maven__org_graphstream_gs_ui_1_3.xml
.idea/libraries/Maven__org_graphstream_mbox2_1_0.xml
.idea/libraries/Maven__org_graphstream_pherd_1_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_jetbrains_annotations_13_0.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_5_32.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_32.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_32.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_32.xml
.idea/libraries/Maven__org_jfree_jcommon_1_0_17.xml
.idea/libraries/Maven__org_jfree_jfreechart_1_0_14.xml
.idea/libraries/Maven__org_jgrapht_jgrapht_core_1_3_0.xml
.idea/libraries/Maven__org_jheaps_jheaps_0_9.xml
.idea/libraries/Maven__org_json_json_20210307.xml
.idea/libraries/Maven__org_knowm_xchart_xchart_3_5_4.xml
.idea/libraries/Maven__org_ow2_sat4j_org_ow2_sat4j_core_2_3_5.xml
.idea/libraries/Maven__org_scala_lang_scala_library_2_10_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_31.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_1_7_31.xml
.idea/libraries/Maven__org_sosy_lab_javasmt_solver_z3_4_8_9_sosy1.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_3_04.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
rl/.idea/workspace.xml
rl/__pycache__/ca.cpython-310.pyc
rl/envs/__pycache__/__init__.cpython-310.pyc
rl/envs/__pycache__/minigrid.cpython-310.pyc
.idea/workspace.xml
.idea/workspace.xml
benchmarks/CARL/minigrid.bias
benchmarks/queries/minigrid/minigrid.queries
benchmarks/queries/minigrid/minigrid_1.queries
benchmarks/queries/minigrid_1.queries
logFiles/CL.log
rl/.idea/workspace.xml
benchmarks/queries/minigrid/monitor.log.monitor.csv
benchmarks/queries/minigrid/minigrid.monitor.csv
benchmarks/queries/minigrid/minigrid.monitor_CA.csv
benchmarks/queries/minigrid.logs.csv
benchmarks/queries/minigrid/minigrid.logger/progress.csv
benchmarks/queries/minigrid.logs
benchmarks/queries/minigrid/minigrid_main.logger/progress.csv
benchmarks/queries/minigrid/main_ppo_rl_20220723.rar
benchmarks/queries/minigrid/minigrid.logs
rl/.idea/workspace.xml
benchmarks/queries/minigrid_lavaCross.rar
benchmarks/CARL/minigrid_distShift.bias
rl/.idea/workspace.xml
.idea/workspace.xml
rl/__pycache__/bios.cpython-310.pyc
.idea/workspace.xml
rl/.idea/workspace.xml
benchmarks/queries/20220802_CARL\#2_mean95.rar
benchmarks/queries/20220802_CARL\#3_mean64.rar
benchmarks/queries/20220802_CARL_mean33.rar
benchmarks/queries/20220802_RL_mean63.rar
benchmarks/queries/minigrid/CALog.log
benchmarks/queries/observations.rar
